@using Polls.Domain.ViewModel.Course
@model List<CourseIndexViewModel>

@{
    ViewData["Title"] = "Course Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="mr-3 mb-3 pb-2" style="border-bottom:solid 3px white; max-width:max-content">
                <h2>Courses</h2>
            </div>
            <a asp-action="Create" class="btn btn-primary">Add new Course</a>
            <div class="mt-3 table-responsive" id="all">
                <table class="table table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TITLE</th>
                            <th>DATE</th>
                            <th>SESSIONS</th>
                            <th>VIEWS</th>
                            <th>Polls Students</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {        
                            string baserow = "baserow" + item.Id.ToString();
                            <tr id="@baserow">
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.Date</td>
                                <td><a asp-action="Index" asp-route-courseId="@item.Id" asp-controller="Session" class="btn btn-outline-dark">Sessions : @item.SessionsCount</a></td>
                                <td>@item.Views</td>
                                <td><a asp-action="PollStudentsIndex" asp-controller="Poll"  asp-route-courseName="@item.Title" class="btn btn-outline-dark" asp-route-courseId="@item.Id">POLL STUDENTS : @item.PollsCount</a></td>
                                <td>
                                    <a class="btn btn-inverse-primary mr-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <button class="btn btn-inverse-danger deletebtn" data-row="@baserow" data-id="@item.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="PartialScripts/_Index" />
}
