@using Polls.Domain.ViewModel.Home
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/Site/assets/img/slide/slide-1.jpg")')">
                <div class="carousel-container">
                <div class="container">
                    <a id="hh"><h2 class="animate__animated animate__fadeInDown">Welcome to <span>Thebes Academy</span></h2></a>
                    <p class="animate__animated animate__fadeInUp">Find out about our available training courses. Choose the courses that suit you. Develop your skills to match the job requirements. Get to Know our coaches.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
                </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url('@Url.Content("~/Site/assets/img/slide/slide-2.jpg")')">
                <div class="carousel-container">
                <div class="container">
                    <h2 class="animate__animated animate__fadeInDown">Tell us what you think</h2>
                    <p class="animate__animated animate__fadeInUp">Our lessons are based on a survey to help us improve the level of courses offered and solve problems students face. You can also view coaches` ratings and submit your own rating.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
                </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <p>About Us</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        According to the decision of the Ministry of Higher Education. Training courses
                        are used to help the student develop his or her skills, to suit the job requirements.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> You can view the available courses that suit you.</li>
                        <li><i class="ri-check-double-line"></i> You can view student evaluations of coaches.</li>
                        <li><i class="ri-check-double-line"></i> You can provide your opinion about the courses using the available opinion polls.</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Our lessons are based on a survey to help us improve the level of 
                        courses offered and solve problems students face. You can also 
                        view coaches` ratings and submit your own rating.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box" style="height:max-content">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@Model.CoursesCount" data-purecounter-duration="1" class="purecounter"></span>
                        <h4 class="mt-4" style="color:rgb(97, 0, 187)"><strong>Courses</strong></h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box" style="height:max-content">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@Model.SessionsCount" data-purecounter-duration="1" class="purecounter"></span>
                        <h4 class="mt-4" style="color:rgb(97, 0, 187)"><strong>Sessions</strong></h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box" style="height:max-content">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@Model.InstructorsCount" data-purecounter-duration="1" class="purecounter"></span>
                        <h4 class="mt-4" style="color:rgb(97, 0, 187)"><strong>Instructors</strong></h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box" style="height:max-content">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@Model.BasePollsCount" data-purecounter-duration="1" class="purecounter"></span>
                        <h4 class="mt-4" style="color:rgb(97, 0, 187)"><strong>Polls</strong></h4>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Courses</h2>
            <p>Check our Courses</p>
        </div>

        <div class="row">

        @foreach (var item in Model.Courses)
        {
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a asp-action="Details" asp-controller="Course" asp-route-id="@item.Id">@item.Title</a></h4>
                    <h6>Views (@item.Views)</h6>
                    <p>@item.Description</p>
                </div>
            </div>
        }
            <center><a asp-action="GetAllCourses" asp-controller="Course" class="btn btn-outline-primary mt-3">View More..</a></center>
        </div>

        </div>
    </section>
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Instructors</h2>
            <p>Check our Instructors</p>
        </div>

        <div class="row">

            @foreach (var item in Model.Instructors)
            {
                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                    <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        @if(item.ProfilePicture != null)
                        {
                            <img src="data:image/*;base64,@Convert.ToBase64String(item.ProfilePicture)" class="img-fluid" alt="">
                        }
                        else
                        {
                            <img src="~/Site/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        }
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@item.FirstName @item.LastName</h4>
                                <span>@item.JobTitle</span>
                                @{
                                    string stringReview = new string(item.TotalReview.ToString().Take(3).ToArray());
                                    string review = stringReview.Length < 3 ? stringReview + ".0" : stringReview;
                                }
                                <span style="font-size: 100%;color: yellow;display:inline">&starf; @review</span>
                            </div>
                            <div class="social">
                                <a href="@item.Contact.Twitter"><i class="bi bi-twitter"></i></a>
                                <a href="@item.Contact.Facebook"><i class="bi bi-facebook"></i></a>
                                <a href="mailto:@item.Contact.Email"><i class="bx bx-envelope"></i></a>
                                <a href="@item.Contact.LinkedIn"><i class="bi bi-linkedin"></i></a>
                                <a asp-action="Review" asp-controller="Instructor" asp-route-instructorId="@item.Id"><span style="font-size: 200%;color: white;display:inline">&starf;</span></a>
                            </div>
                        </div>
                    </div>
                </div>   
            }
            <center><a asp-action="GetAllInstructors" asp-controller="Instructor" class="btn btn-outline-primary">View More..</a></center>
        </div>

        </div>
    </section>
</main>